q{% extends '_userbase.html' %}  

{% block title %} Dashboard {% endblock title %}


{% block userbreadcrumb_path %} 
    
    &nbsp;&nbsp;
    <span class="text-slate-500">/</span>
    <span class="text-slate-900 dark:text-white">Add Work</span>
{% endblock userbreadcrumb_path %} 



{% block userbody %}

    <div class="mb-20">
        <h5 class="text-xl font-semibold mt-4 mb-8 text-center text-slate-900 dark:text-white">Add Today's work </h5>
        
        <div id="a-w-c-container" class="relative space-y-1 w-full rounded-2xl drop-shadow-lg mt-5"> 
            <div id="a-w-c-1" class="rounded-2xl p-2 dark:bg-slate-800 drop-shadow-lg">   
                <form id="r_w_btn_form" class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-1 gap-2  rounded-lg p-2 w-full  border border-slate-500 "> 
                    <h5 class="text-base font-semibold text-center text-slate-900 dark:text-white">Work 1</h5>
                    <div class="w-full">
                        <label for="work_heading" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Work Heading</label>
                        <input type="text" id=" " name="work_heading" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="favarni, nangar" required >
                    </div> 
                    <div class="w-full">
                        <label for="work_desc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Work Description</label>
                        <textarea id="work_desc" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First favarni"  required></textarea>
                    </div> 
                    <div class="w-full">
                        <label for="work_amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Work Amount</label>
                        <input type="number" id="" name="work_amount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="₹ 2,230 /-" required >
                    </div>  
                    <div class="w-full">
                        <label for="work_location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add Location </label>
                        <input type="text" id=" " name="work_location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poison names, fertilizer names, etc."  >
                    </div>   
                    <div class="flex flex-col items-start justify-center w-full">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bill Reciept</label>
                        <label for="reciept-file" class="flex flex-col items-center justify-center w-full sm:h-32 lg:h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div id="selected-files" class=" flex flex-col items-center justify-center pt-5 pb-6">
                                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            <input id="reciept-file" name="reciept-file" type="file" class="hidden" multiple>
                        </label>
                    </div>  
                    <div class="flex justify-center mt-2  w-full"> 
                        <button type="submit" id="r_w_btn" class="bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 align-middle text-center text-base font-semibold shadow-md shadow-sky-500 px-3 py-1 bg-blue-600 text-white rounded-lg w-full ">
                            Save Work
                        </button>
                    </div>  
                </form>  
                {% comment %} <div class="flex justify-end mt-2 space-x-2 w-full"> 
                    <button onClick="a_w_c()" class=' shadow-md shadow-slate-500 bg-white dark:bg-slate-800 rounded-lg h-10 w-10 flex items-center justify-center '>
                        <span class="material-symbols-outlined text-slate-900 dark:text-white">add</span>
                    </button>
                </div>   {% endcomment %}
            </div>
        </div>
        
    </div>


{% endblock userbody %}