{% extends '_userbase.html' %}  

{% block title %} Dashboard {% endblock title %}



{% block userbody %}

    <div class="mb-20">
        
        <div onclick="modal(this.outerHTML)" class="w-full p-2   bg-white border border-gray-300 rounded-2xl shadow-xl dark:shadow-gray-900 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between  ">
                <div class="flex">
                    <img class="mr-2 h-10" src="/static/media/work/plough.png" alt="image" />  
                </div>
                <div class="flex justify-end space-x-3 w-full ">
                    <span onclick="fetchDocument('${w.work_heading}', '${receipt_array[0]}')" class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> receipt_long </span> 
                    <span class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> edit </span> 
                    <span class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> database </span> 
                    <span class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> leaderboard </span> 
                    <span class="flex justify-end material-symbols-outlined align-middle text-red-600 dark:text-red-600" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> delete_forever </span>  
                </div> 
            </div> 
            <div class="flex grow">
                <h5 class="text-xl font-base tracking-tight truncate w-[205px] overflow-hidden text-gray-900 dark:text-white">${w.work_heading}</h5>
            </div>
            <p class="my-3 mr-5 font-base text-slate-700 dark:text-slate-400 first-line:mt-4">${w.work_desc}</p>
            <div class="flex justify-between w-full">
                <div class="flex space-x-1 w-full">  
                    <h5 class="flex text-lg w-full font-semibold tracking-wide text-gray-900 dark:text-gray-200"><span class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white mr-2" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> currency_rupee </span>  asd</h5>  
                    <h5 class="flex text-lg w-full font-normal tracking-wide text-gray-800 dark:text-gray-300"> <span class="flex justify-end material-symbols-outlined align-middle text-slate-900 dark:text-white mr-2" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> location_on </span> asd asd as </h5>
                </div> 
            </div>
        </div>
    
    </div>

{% endblock userbody %}






