

{% extends '_userbase.html' %}  
{% load static %}

{% block title %} View Work {% endblock title %}


{% block userbreadcrumb_path %} 
    &nbsp;&nbsp; 
    <span class="text-slate-900 dark:text-white">View Works</span>
{% endblock userbreadcrumb_path %} 

{% block other_breadcrumb_options %}
    <span class="material-symbols-outlined text-slate-900 dark:text-white dark:text-white align-middle" style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> search </span>
    
{% endblock other_breadcrumb_options %}


{% block userbody %}

    <div class="mb-20">
        <div class="flex flex-between w-full my-4">
            <div class="my-auto w-full">
                <h5 class="text-xl font-semibold text-slate-900 dark:text-white">Past Records</h5>
            </div>
            <div class="flex justify-end my-auto space-x-2 w-full">
                <span class="material-symbols-outlined align-middle text-slate-900 dark:text-white " style="font-variation-settings: 'opsz' 20; text-size: 15px !important;"> filter_alt </span>
            </div>
        </div>


        
        <div class="space-y-3">
 
            
            <div class="space-y-3" id="work-card-div">

 
            
            
            </div>
            
        </div>
        
    </div>


{% endblock userbody %}


    
{% block extra_scripts %}

<script>
    viewWork();
</script>

{% endblock extra_scripts %}





