{% load static %}

<div class="bottom-nav fixed bottom-0 left-0 z-50 w-full h-14 bg-slate-100 border-t-2 rounded-xl border-blue-400 dark:bg-gray-700">
  <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
      <a href="/dashboard/" id="dashboard" type="button" class="inline-flex flex-col text-gray-500 dark:text-gray-200 rounded-lg items-center justify-center px-5 group">
        <span class="material-symbols-outlined">home</span>
        {% comment %} <h5 class="text-sm group-hover:text-blue-600 dark:group-hover:text-blue-500">Home</h5> {% endcomment %}
    </a>
    <a href="/vw/" id="vw" type="button" class="inline-flex flex-col text-gray-500 dark:text-gray-200 rounded-lg items-center justify-center px-5  group">
        <span class="material-symbols-outlined ">view_agenda</span>
        {% comment %} <h5 class="text-sm  whitespace-nowrap group-hover:text-blue-600 dark:group-hover:text-blue-500">View Records</h5> {% endcomment %}
    </a> 
    <a href="/aw/" id="aw" type="button" class="inline-flex flex-col text-gray-500 dark:text-gray-200 rounded-lg items-center justify-center px-5 group">
        <span class="material-symbols-outlined  bg-blue-700 rounded-full p-2">add</span>
        {% comment %} <h5 class="text-sm  whitespace-nowrap group-hover:text-blue-600 dark:group-hover:text-blue-500">Add Work</h5> {% endcomment %}
    </a>
    <a href="#" id="" type="button" class="inline-flex flex-col text-gray-500 dark:text-gray-200 rounded-lg items-center justify-center px-5  group">
        <span class="material-symbols-outlined ">database</span>
        {% comment %} <h5 class="text-sm  whitespace-nowrap group-hover:text-blue-600 dark:group-hover:text-blue-500">View Records</h5> {% endcomment %}
    </a> 
    <a href="#" id="" type="button" class="inline-flex flex-col text-gray-500 dark:text-gray-200 rounded-lg items-center justify-center px-5  group">
        <span class="material-symbols-outlined ">settings</span>
        {% comment %} <h5 class="text-sm  whitespace-nowrap group-hover:text-blue-600 dark:group-hover:text-blue-500">View Records</h5> {% endcomment %}
    </a> 
  </div>
</div>



 