@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
 

.animate-rightToLeft {
  animation: rightToLeft 0.3s ease-out forwards;
}

.animate-leftToRight {
  animation: leftToRight 0.2s ease-out forwards;
}
